<div class="card single-quiz-padding text-center">
    <h1 id="quiz-title" class="quiz-header text-4xl">{{quiz.title}} </h1>
    <h4 class="font-bold">Posted by {{quiz.user.username}}</h4>
    <div class="container">
        <p id="quiz-body" class="quiz-text quiz-text-padding">{{quiz.body}}</p>
    </div>
    {{!-- If this is my post i can edit and delete it --}}
    {{#if currentUser}}
    <button id="edit-btn" class="bg-slate-300 p-4 m-5">Edit</button>
    <button id="delete-btn" class="bg-slate-300 p-4 m-5">Delete</button>
    {{/if}}
</div>

{{!-- Handle the Questions --}}
{{#each quiz.questions as |question|}}

<div class="text-center question">
    <p id="correct"></p>
<h2 class="text-center text-xl py-5">{{question.question_content}}</h2>
<button id="answer_a" class="w-1/2 bg-slate-100 hover:bg-slate-300 mb-2 choice" data-correct={{question.answer_correct}}>{{question.answer_a}}</button>
<button id="answer_b" class="w-1/2 bg-slate-100 hover:bg-slate-300 mb-2 choice" data-correct={{question.answer_correct}}>{{question.answer_b}}</button>
<button id="answer_c" class="w-1/2 bg-slate-100 hover:bg-slate-300 mb-2 choice" data-correct={{question.answer_correct}}>{{question.answer_c}}</button>
<button id="answer_d" class="w-1/2 bg-slate-100 hover:bg-slate-300 mb-2 choice" data-correct={{question.answer_correct}}>{{question.answer_d}}</button>
</div>
{{/each}}

{{!-- <link rel="stylesheet" href="/css/single-post.css"> --}}
{{#if currentUser}}
{{!-- <script src="/js/edit-delete-post.js"> </script> --}}
{{/if}}

<script src="/js/quiz.js"></script>